# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# MediaPipe & OpenCV cache / generated outputs
*.mp4
*.avi
*.jpg
*.jpeg
*.png

# IDEs & Code Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS Specific
.DS_Store
Thumbs.db
ehthumbs.db

# Git / System Logs
*.log